:root {
    --shadow-default: 0 3px 5px 2px rgba(153, 153, 153, .5);
}

.konten {
    margin-bottom: 100px !important;
    margin: auto;
    box-sizing: border-box;
}

.pembungkus-judul {
    text-align: center;
    margin-bottom: 24px;
}

.pembungkus-judul h1 {
    font-family: var(--font-bold);
    color: var(--warna-biru);
    margin-bottom: 10px;
}

.pembungkus-judul p {
    font-size: 20px;
    color: #494a4b;
}

/* ----------------------------------------------------------------------------------------------
 * Jumbotron
 * ----------------------------------------------------------------------------------------------
*/
.pembungkus-jumbotron {
    position: relative;
    min-height: fit-content;
}

.jumbotron {
    width: 100%;
    height: inherit;
    border-radius: 20px;
    overflow: hidden;
}

.jumbotron-slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: fit-content;
}

.jumbotron-slider__arrow img {
    width: inherit;
    opacity: .5;
    transition: opacity .5s;
    width: 50px;
}

.jumbotron-slider__arrow img:hover {
    cursor: pointer;
    opacity: 1;
}

.jumbotron-slider__arrow.go-back {
    left: 10px;
}

.jumbotron-slider__arrow.go-next {
    right: 10px;
}

/* ----------------------------------------------------------------------------------------------
 * Gabung Bersama Kami
 * ----------------------------------------------------------------------------------------------
*/
.gabung-bersama-kami {
    margin: auto;
}

.konten__gabung-bersama-kami {
    min-height: 200px;
    box-shadow: var(--shadow-default);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

img.konten-logo {
    height: 100px;
    width: auto;
    justify-self: center;
    padding: 10px 0;
}

.konten__gabung-bersama-kami h1 {
    font-family: var(--font-bold);
    font-size: 20px;
    align-self: flex-end;
    color: var(--warna-biru);
    white-space: nowrap;
}

.lihat-kelas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lihat-kelas p {
    white-space: nowrap;
}

.lihat-kelas svg {
    width: 20px;
    fill: var(--warna-biru);
    opacity: .7;
    transition: .3s;
}

.lihat-kelas svg:hover {
    opacity: 1;
}

/* ----------------------------------------------------------------------------------------------
 * Custom Slick
 * ----------------------------------------------------------------------------------------------
*/
.slick-dots {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li {
    display: inline-block;
    margin: 0 10px;

}

.slick-dots .slick-active button {
    background: rgba(7, 121, 228, .8);
}

.slick-dots button {
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
}

.slick-dots button:hover {
    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------
 * Tentang Kami
 * ----------------------------------------------------------------------------------------------
*/
.tentang-kami {
    background-color: #fff;
    box-shadow: var(--shadow-default);
    border-radius: 20px;
    padding: 20px;
}

.konten__tentang-kami {
    display: flex;
    position: relative;
}

.konten__tentang-kami h2 {
    text-align: center;
    font-family: var(--font-bold);
    font-size: 24px;
    color: var(--warna-biru);
}

.konten__tentang-kami span {
    display: grid;
    grid-template-columns: 50px auto;
    height: 50px;
    justify-items: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.konten__tentang-kami span p:first-child {
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.konten__tentang-kami .visi {
    flex: 1;
}

.konten__tentang-kami .misi {
    flex: 1;
}

/* ----------------------------------------------------------------------------------------------
 * Kenapa Harus Kami
 * ----------------------------------------------------------------------------------------------
*/
.pembungkus-konten__kenapa-harus-kami {
    display: grid;
    justify-content: space-between;
    gap: 20px;
}

.kartu {
    box-shadow: var(--shadow-default);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.kartu img {
    width: 100%;
}

.kartu h2 {
    font-family: var(--font-bold);
    color: var(--warna-biru);
    font-size: 25px;
    margin: 20px 0;
}

/* ----------------------------------------------------------------------------------------------
 * Desktop
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (min-width:992px) {}

/* ----------------------------------------------------------------------------------------------
 * Tab & Desktop
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (min-width:768px) {
    .konten {
        width: 90%;
    }

    /* * Jumbotron */
    .jumbotron img {
        width: inherit;
    }

    /* * Konten Tentang Kami */
    .konten__tentang-kami>div:first-child:after {
        content: '';
        background-color: var(--warna-biru);
        width: 3px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    /* * Kenapa Harus Kami */
    .pembungkus-konten__kenapa-harus-kami {
        grid-template-columns: repeat(3, minmax(180px, 430px));
    }
}

/* ----------------------------------------------------------------------------------------------
 * Tab
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (min-width:768px) and (max-width:992px) {

    /* * Jumbotron */
    .pembungkus-jumbotron {
        width: 90%;
    }

    /* * Kenapa Harus Kami */
    .pembungkus-konten__kenapa-harus-kami {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ----------------------------------------------------------------------------------------------
 * Tab & Mobile
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (max-width:992px) {}

/* ----------------------------------------------------------------------------------------------
 * Mobile
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (max-width:768px) {
    #halaman-landing {
        margin-top: 50px;
    }

    .pembungkus-judul h1 {
        font-size: 26px;
    }

    .konten {
        width: 95%;
    }

    /* * Jumbotron */
    .jumbotron {
        --tinggi-jumbotron: 50vw;
    }

    .pembungkus-jumbotron {
        height: var(--tinggi-jumbotron);
    }

    .jumbotron img {
        height: var(--tinggi-jumbotron);
    }

    .jumbotron-slider__arrow img {
        width: 30px;
    }

    /* * Gabung Bersama Kami */
    .lihat-kelas p {
        font-size: 12px;
    }

    /* * Tentang Kami */
    .konten__tentang-kami {
        flex-direction: column;
    }

    .konten__tentang-kami h2 {
        border-bottom: 3px solid var(--warna-biru);
    }

    .konten__tentang-kami>div {
        margin-bottom: 50px;
    }

    .konten__tentang-kami span {
        font-size: 11px;
        margin: 20px 0;
    }

    /* * Kenapa Harus Kami */
    .pembungkus-konten__kenapa-harus-kami {
        grid-template-columns: 1fr;
    }
}