:root {
    --tinggi-header: 80px;

    --font-bold: montserrat_alternatesbold;

    --warna-biru: #0779e4;
}

body {
    max-width: 1920px;
    margin: auto;
    height: 2000px;
}

/* ----------------------------------------------------------------------------------------------
 * Header
 * ----------------------------------------------------------------------------------------------
*/
#halaman-landing {
    margin-top: 20px;
}

#halaman-landing>div {
    margin-bottom: 50px;
}

header {
    width: 100%;
    height: var(--tinggi-header);
    position: sticky;
    top: 0;
    transition: .3s;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 99;
}

.header-shadow {
    box-shadow: 0 1px 5px 0 rgba(153, 153, 153, .4);
}

/* ? Logo */
.sahabat-karir-logo img {
    height: calc(var(--tinggi-header) - 20px);
}

/* ? Navigasi */
.navigasi-halaman-landing {
    width: 40%;
    display: flex;
    align-items: center;
}

.navigasi-halaman-landing a {
    margin-right: 20px;
}

/* ? Pencarian */
.pencarian {
    width: calc(60% - var(--tinggi-header));
    position: relative;
    display: flex;
    align-items: center;
}

.pencarian input {
    width: 100%;
    max-height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(153, 153, 153, .5);
}

.pencarian input:focus {
    outline: 2px solid rgba(7, 121, 228, .5);
}

.pencarian svg {
    position: absolute;
    fill: var(--warna-biru);
    width: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.pencarian svg:hover {
    cursor: pointer;
    fill: rgba(7, 121, 228, .7);
}

/* ----------------------------------------------------------------------------------------------
 * Footer
 * ----------------------------------------------------------------------------------------------
*/
footer {
    background-color: var(--warna-biru);
    width: 100%;
    color: #fff;
    padding: 20px 50px;
    box-sizing: border-box;
}

.judul__footer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.judul__footer img {
    width: 70px;
}

.judul__footer h2 {
    font-family: var(--font-bold);
    font-size: 25px;
}

.konten__footer {
    width: 89%;
    margin: auto;
    display: grid;
    gap: 20px;
    padding: 30px 0;
}

.konten__footer>div {
    display: grid;
    grid-template-rows: 30px 1fr;
}

.konten__footer h3 {
    font-family: var(--font-bold);
    font-size: 20px;
    color: #ccc;
}

.konten__footer li {
    padding: 10px 0;
    color: #ccc;
}

.konten__footer li a {
    background-image: linear-gradient(transparent 0%, transparent 70%, #fff 100%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-X: right;
    transition: background-size 300ms;
}

.konten__footer a:hover {
    background-size: 100% 100%;
    background-position-x: left;
    color: #fff;
}

.konten__footer .alamat li:last-child {
    display: flex;
}

.konten__footer .alamat svg {
    width: 20px;
    margin-right: 10px;
    fill: #ccc;
}

/* ----------------------------------------------------------------------------------------------
 * Desktop
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (min-width:992px) {

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    /* ? Logo */
    .sahabat-karir-logo {
        width: var(--tinggi-header);
    }

    .hamburger-navigasi {
        display: none;
    }

    /* ? Navigasi */
    .navigasi-halaman-landing a {
        background-image: linear-gradient(transparent 0%,
                transparent 90%,
                rgba(7, 121, 228, .5) 90%,
                rgba(7, 121, 228, .5) 100%);

        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-X: right;
        transition: background-size 300ms;
    }

    .navigasi-halaman-landing a:hover {
        background-size: 100% 100%;
        background-position-x: left;
        color: var(--warna-biru);
    }

    /* ----------------------------------------------------------------------------------------------
     * Footer
     * ----------------------------------------------------------------------------------------------
    */
    .konten__footer {
        grid-template-columns: repeat(3, 1fr) 2.5fr;
    }
}

/* ----------------------------------------------------------------------------------------------
 * Tab & Desktop
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (min-width:768px) {
    .pembungkus-judul h1 {
        font-size: 32px;
    }

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    header {
        display: flex;
    }

    /* ? Pencarian */
    .pencarian input {
        border-radius: 10px;
    }
}

/* ----------------------------------------------------------------------------------------------
 * Tab
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (min-width:768px) and (max-width:992px) {

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    header {
        justify-content: space-between;
    }

    /* ? Logo */
    .sahabat-karir-logo {
        order: 1;
    }

    /* ? Navigasi */
    .navigasi-halaman-landing {
        width: 50%;
        order: 3;
    }

    /* ? Pencarian */
    .pencarian {
        order: 2;
        width: 80%;
    }

    /* ----------------------------------------------------------------------------------------------
     * Footer
     * ----------------------------------------------------------------------------------------------
    */
    .konten__footer {
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
    }
}

/* ----------------------------------------------------------------------------------------------
 * Tab & Mobile
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (max-width:992px) {

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    /* ? Navigasi */
    .navigasi-halaman-landing {
        height: 0;
        position: absolute;
        top: var(--tinggi-header);
        right: 0;
        background-color: #fff;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        overflow: hidden;
        transition: .3s;
        border-bottom-left-radius: 10px;
        box-shadow: 0 0 5px 0 rgba(153, 153, 153, .5);
        z-index: 999;
    }

    /* Kelas Semu Navigasi */
    .lihat-navigasi {
        height: 150px;
        padding: 20px;
    }

    .navigasi-halaman-landing a {
        display: block;
        width: fit-content;
    }

    /* ? Hamburger Navigasi */
    .hamburger-navigasi {
        display: initial;
        order: 4;
        width: min-content;
    }

    .hamburger-navigasi svg {
        width: 28px;
    }
}

/* ----------------------------------------------------------------------------------------------
 * Mobile
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (max-width:768px) {
    #halaman-landing {
        margin-top: 50px;
    }

    .pembungkus-judul h1 {
        font-size: 26px;
    }

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    header {
        display: grid;
        grid-template-areas:
            'logo hamburger'
            'pencarian pencarian'
        ;
    }

    /* ? Logo */
    .sahabat-karir-logo {
        grid-area: logo;
    }

    /* ? Pencarian */
    .pencarian {
        width: 80%;
        grid-area: pencarian;
        justify-self: end;
        margin-top: 10px;
    }

    /* ? Navigasi */
    .navigasi-halaman-landing {
        width: 80%;
    }

    /* ? Hamburger Navigasi */
    .hamburger-navigasi {
        grid-area: hamburger;
        justify-self: end;
    }

    /* ----------------------------------------------------------------------------------------------
     * Footer
     * ----
     ------------------------------------------------------------------------------------------
    */
    footer {
        padding: 20px;
    }

    .konten__footer .alamat .email {
        overflow-wrap: break-word;
    }

    .konten__footer .alamat .lokasi {
        justify-content: space-between;
    }

    .konten__footer .alamat p {
        width: 100%;
        padding: 0 20px;
    }
}