:root {
    --tinggi-header: 80px;

    --font-bold: montserrat_alternatesbold;
}

body {
    max-width: 1920px;
    margin: auto;
    height: 2000px;
}

/* ----------------------------------------------------------------------------------------------
 * Header
 * ----------------------------------------------------------------------------------------------
*/
#halaman-landing {
    margin-top: 20px;
}

#halaman-landing>div {
    margin-bottom: 50px;
}

header {
    width: 100%;
    height: var(--tinggi-header);
    position: sticky;
    top: 0;
    transition: .3s;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 99;
}

.header-shadow {
    box-shadow: 0 1px 5px 0 rgba(153, 153, 153, .4);
}

/* ? Logo */
.sahabat-karir-logo img {
    height: calc(var(--tinggi-header) - 20px);
}

/* ? Navigasi */
.navigasi-halaman-landing {
    width: 40%;
    display: flex;
    align-items: center;
}

.navigasi-halaman-landing a {
    margin-right: 20px;
}

/* ? Pencarian */
.pencarian {
    width: calc(60% - var(--tinggi-header));
    position: relative;
    display: flex;
    align-items: center;
}

.pencarian input {
    width: 100%;
    max-height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(153, 153, 153, .5);
}

.pencarian input:focus {
    outline: 2px solid rgba(7, 121, 228, .5);
}

.pencarian svg {
    position: absolute;
    fill: #0779e4;
    width: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.pencarian svg:hover {
    cursor: pointer;
    fill: rgba(7, 121, 228, .7);
}

/* ----------------------------------------------------------------------------------------------
 * Konten
 * ----------------------------------------------------------------------------------------------
*/
/* ? Judul */
.pembungkus-judul {
    text-align: center;
    margin-bottom: 24px;
}

.pembungkus-judul h1 {
    font-family: var(--font-bold);
    color: #0779e4;
    margin-bottom: inherit;
}

.pembungkus-judul p {
    font-size: 20px;
    color: #494a4b;
}

/* ? Jumbotron */
.pembungkus-jumbotron {
    position: relative;
    min-height: fit-content;
    margin: auto;
}

.jumbotron {
    width: 100%;
    height: inherit;
    border-radius: 20px;
    overflow: hidden;
}

.jumbotron-slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: fit-content;
}

.jumbotron-slider__arrow img {
    width: inherit;
    opacity: .5;
    transition: opacity .5s;
    width: 50px;
}

.jumbotron-slider__arrow img:hover {
    cursor: pointer;
    opacity: 1;
}

.jumbotron-slider__arrow.go-back {
    left: 10px;
}

.jumbotron-slider__arrow.go-next {
    right: 10px;
}

/* ? Gabung Bersama Kami */
.gabung-bersama-kami {
    width: 90%;
    margin: auto;
}

.gabung-bersama-kami__slider {
    min-height: 200px;
    box-shadow: 0 3px 5px 2px rgba(153, 153, 153, .5);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.konten__gabung-bersama-kami {
    display: grid;
    grid-template-rows: 3fr repeat(2, 1fr);
    height: 100%;
}

img.konten-logo {
    height: 100px;
    width: auto;
    justify-self: center;
    padding: 10px 0;
}

.konten__gabung-bersama-kami h1 {
    font-family: var(--font-bold);
    font-size: 20px;
    align-self: flex-end;
    color: #0779e4;
    white-space: nowrap;
}

.lihat-kelas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lihat-kelas p {
    white-space: nowrap;
}

.lihat-kelas svg {
    width: 20px;
    opacity: .7;
    transition: .3s;
}

.lihat-kelas svg:hover {
    opacity: 1;
}

/* ? Custom slick */
.slick-dots {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li {
    display: inline-block;
    margin: 0 10px;

}

.slick-dots .slick-active button {
    background: rgba(7, 121, 228, .8);
}

.slick-dots button {
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
}

.slick-dots button:hover {
    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------
 * Desktop
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (min-width:992px) {

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    /* ? Logo */
    .sahabat-karir-logo {
        width: var(--tinggi-header);
    }

    .hamburger-navigasi {
        display: none;
    }

    /* ? Navigasi */
    .navigasi-halaman-landing a {
        background-image: linear-gradient(transparent 0%,
                transparent 90%,
                rgba(7, 121, 228, .5) 90%,
                rgba(7, 121, 228, .5) 100%);

        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-X: right;
        transition: background-size 300ms;
    }

    .navigasi-halaman-landing a:hover {
        background-size: 100% 100%;
        background-position-x: left;
        color: #0779e4;
    }

    /* ----------------------------------------------------------------------------------------------
     * Konten
     * ----------------------------------------------------------------------------------------------
    */
}

/* ----------------------------------------------------------------------------------------------
 * Tab & Desktop
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (min-width:768px) {
    .pembungkus-judul h1 {
        font-size: 32px;
    }

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    header {
        display: flex;
    }

    /* ? Pencarian */
    .pencarian input {
        border-radius: 10px;
    }

    /* ----------------------------------------------------------------------------------------------
     * Konten
     * ----------------------------------------------------------------------------------------------
    */
    .pembungkus-jumbotron {
        width: 80%;
    }

    .jumbotron img {
        width: inherit;
    }
}

/* ----------------------------------------------------------------------------------------------
 * Tab
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (min-width:768px) and (max-width:992px) {

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    header {
        justify-content: space-between;
    }

    /* ? Logo */
    .sahabat-karir-logo {
        order: 1;
    }

    /* ? Navigasi */
    .navigasi-halaman-landing {
        width: 50%;
        order: 3;
    }

    /* ? Pencarian */
    .pencarian {
        order: 2;
        width: 80%;
    }

    /* ----------------------------------------------------------------------------------------------
     * Konten
     * ----------------------------------------------------------------------------------------------
    */
    .pembungkus-jumbotron {
        width: 90%;
    }
}

/* ----------------------------------------------------------------------------------------------
 * Tab & Mobile
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (max-width:992px) {

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    /* ? Navigasi */
    .navigasi-halaman-landing {
        height: 0;
        position: absolute;
        top: var(--tinggi-header);
        right: 0;
        background-color: #fff;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        overflow: hidden;
        transition: .3s;
        border-bottom-left-radius: 10px;
        box-shadow: 0 0 5px 0 rgba(153, 153, 153, .5);
    }

    /* Kelas Semu Navigasi */
    .lihat-navigasi {
        height: 150px;
        padding: 20px;
    }

    .navigasi-halaman-landing a {
        display: block;
        width: fit-content;
    }

    /* ? Hamburger Navigasi */
    .hamburger-navigasi {
        display: initial;
        order: 4;
        width: min-content;
    }

    .hamburger-navigasi svg {
        width: 28px;
    }
}

/* ----------------------------------------------------------------------------------------------
 * Mobile
 * ----------------------------------------------------------------------------------------------
*/
@media screen and (max-width:768px) {
    #halaman-landing {
        margin-top: 50px;
    }

    .pembungkus-judul h1 {
        font-size: 26px;
    }

    /* ----------------------------------------------------------------------------------------------
     * Header
     * ----------------------------------------------------------------------------------------------
    */
    header {
        display: grid;
        grid-template-areas:
            'logo hamburger'
            'pencarian pencarian'
        ;
    }

    /* ? Logo */
    .sahabat-karir-logo {
        grid-area: logo;
    }

    /* ? Pencarian */
    .pencarian {
        width: 80%;
        grid-area: pencarian;
        justify-self: end;
        margin-top: 10px;
    }

    /* ? Navigasi */
    .navigasi-halaman-landing {
        width: 80%;
    }

    /* ? Hamburger Navigasi */
    .hamburger-navigasi {
        grid-area: hamburger;
        justify-self: end;
    }

    /* ----------------------------------------------------------------------------------------------
     * Konten
     * ----------------------------------------------------------------------------------------------
    */
    .jumbotron {
        --tinggi-jumbotron: 50vw;
    }

    .pembungkus-jumbotron {
        width: 95%;
        height: var(--tinggi-jumbotron);
    }

    .jumbotron img {
        height: var(--tinggi-jumbotron);
    }

    .jumbotron-slider__arrow img {
        width: 30px;
    }
}

/* ----------------------------------------------------------------------------------------------
 * Footer
 * ----------------------------------------------------------------------------------------------
*/